//@import 'bootstrap';

#canvas-wrap {
  position:relative
} /* Make this a positioned parent */

#overlay {
  position:absolute;
  top:20px;
  left:30px; 
}

.entity{
  width: auto;
  height: auto;
  position: relative;
  float: left;
  margin: 10px;
  padding: 2px;  
  z-index: 5;
  border: solid 1px #000000;
  //@include border-radius(5px);

  .entity-position-x, .entity-position-y, .entity-has-many, .entity-table-name, .entity-name{
    display: none;
  }
  
  .entity-model-name {
    font-weight: bold;
    text-decoration:underline;
    padding: 2px;
  }

  .entity-attributes {
    padding: 2px;
    
    .entity-attribute {
      
      .attribute-name {
        padding: 2px;
      }
      
      .attribute-belongs-to{
        display: none;
      }
    }
  }
}