<div class="entity" id="<%= entity[:model].to_s.underscore %>">
  <% entity[:has_many].each do |association| %>
  <span class="entity-has-many"><%= association %></span>
  <% end %>
  <span class="entity-name"><%= entity[:model].to_s.underscore %></span>
  <span class="entity-position-x"><%= entity[:posX] %></span>
  <span class="entity-position-y"><%= entity[:posY] %></span>
  <span class="entity-table-name"><%= entity[:model]::table_name %></span>
  
  <div class="entity-model-name">
    <%= entity[:model] %>
    <%= link_to '-', '#', data: { action: 'hideAttributes', entity: entity[:model].to_s.underscore}, remote: true %>
    <%= link_to '+', '#', data: { action: 'showAttributes', entity: entity[:model].to_s.underscore}, remote: true %>
  </div>
  <div class="entity-attributes">
    <% entity[:attributes].each do |attribute| %>
    <div class="entity-attribute">
        <div class="attribute-name">
          <%= attribute[:name] %>
        </div>
        <% if attribute[:belongs_to] %>
        <span class="attribute-belongs-to"><%= attribute[:belongs_to] %></span>
        <% end %>
    </div>
    <% end %>

  </div>
</div>