<div>
  <%= link_to t('save'), '#', id: "erd_save", type: :button, remote: true %>
  <%= link_to '-', '#', data: { action: 'hideAttributes'}, remote: true %>
  <%= link_to '+', '#', data: { action: 'showAttributes'}, remote: true %>
  <br>
  <br>
  <br>
</div>
<div id="canvas-wrap">
  <canvas width="<%= @width %>" height="<%= @height %>"></canvas>
  <div id="overlay">
    <span id="position"></span>
    <%= render partial: 'entity', collection: @entities %>
  </div>
</div>