<!DOCTYPE html>
<html>
<head>
  <title>Developer Tools/Diagrams</title>
  <%= stylesheet_link_tag    "dt/diagrams/application", media: "all" %>
  <%= javascript_include_tag "https://code.jquery.com/jquery-1.11.1.min.js" %>
  <%= javascript_include_tag "https://code.jquery.com/ui/1.11.1/jquery-ui.min.js" %>
  <%= javascript_include_tag "dt/diagrams/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
